# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/
next-env.d.ts

# Production build
/build
/dist

# Environment
.env
.env.local
.env.*.local

# Prisma
/prisma/*.db

# Testing
/coverage
/playwright-report
/test-results

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea
*.swp

# Misc
/.turbo
/.vercel
tsconfig.tsbuildinfo
